AWS_REGION=us-east-1
STACK_NAME=spv-dataops-challenge
RAW_BUCKET=spv-raw-demo
CURATED_BUCKET=spv-curated-demo
ARTIFACTS_BUCKET=spv-artifacts-demo
ATHENA_DATABASE=spv_operational_lakehouse
GEMINI_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemma-3-4b-it:free
PUBLIC_API_BASE_URL=https://api.open-meteo.com/v1
GEOCODING_API_BASE_URL=https://geocoding-api.open-meteo.com/v1
TARGET_CITIES=Buenos Aires,Cordoba,Rosario,Mendoza
